RewriteEngine On
  
# không cho xem cấu trúc thư mục
Options -Indexes

# Đảm bảo rằng yêu cầu không phải là một tệp hoặc thư mục
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Điều hướng tất các yêu cầu tới index.php
RewriteRule ^(.*)$ index.php?url=$1